- title 'FeedNEWS - Notícias'

#index
  = render 'world', feeds: @feeds
  = render 'publicity'
  = render 'news', categories: @categories
  .screenSize
    %h1.titleLista
      = link_to 'Notícias mais recentes', news_recent_path, class: 'titleLista'
    = render 'blocks/latest', news: @news