#header
  .screenSize
    %h1.logo
      =link_to '', root_path, class: 'logo'
    .publicity
      :javascript
        google_ad_client = "ca-pub-2426498620141581";
        /* header */
        google_ad_slot = "2399222753";
        google_ad_width = 728;
        google_ad_height = 90;
      %script{src: "http://pagead2.googlesyndication.com/pagead/show_ads.js"}

    %ul
      %li
        =link_to 'Últimas Notícias', category_path(id: 'ultimas-noticias'), class: "linkMenu #{current_category(category_path(id: 'ultimas-noticias'))}"
      %li
        =link_to 'Esporte', category_path(id: 'esporte'), class: "linkMenu #{current_category(category_path(id: 'esporte'))}"
      %li
        =link_to 'Economia', category_path(id: 'economia'), class: "linkMenu #{current_category(category_path(id: 'economia'))}"
      %li
        =link_to 'Mundo', category_path(id: 'mundo'), class: "linkMenu #{current_category(category_path(id: 'mundo'))}"
      %li
        =link_to 'Entreterimento', category_path(id: 'entreterimento'), class: "linkMenu #{current_category(category_path(id: 'entreterimento'))}"
      %li
        =link_to 'Tecnologia', category_path(id: 'tecnologia'), class: "linkMenu #{current_category(category_path(id: 'tecnologia'))}"
      %li
        =link_to 'Educação', category_path(id: 'educacao'), class: "linkMenu #{current_category(category_path(id: 'educacao'))}"
      %li
        =link_to 'Ciência e Saúde', category_path(id: 'ciencia-e-saude'), class: "linkMenu #{current_category(category_path(id: 'ciencia-e-saude'))}"