!!!
%html

  %head
    %title
      = yield :title
    <link rel="shortcut icon" href="/assets/feed.png" />
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="keywords" content="rss, site, sites, noticias, noticia, feed, feeds, news, ultimas, esporte, esportes, tecnologia, tecnologias, economia, mundo, brasil, entreterimento, educacao, ciencia, saude">
    <meta name="description" content="No FeedNEWS você encontra feeds dos principais portais do brasil, com notícias e informações atualizadas diariamente.">
    <meta name="msvalidate.01" content="2B3277D48C7D7098E324BA33898CF472" />

    :javascript
      // Google analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39276150-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %div{id: 'fb-root'}
    = render partial: 'blocks/header'
    = yield
    = render partial: 'blocks/footer'
    = javascript_include_tag "application"
    :javascript
      // Facebook
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/pt_BR/all.js#xfbml=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      // Google+
      window.___gcfg = {lang: 'pt-BR'};
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();